n8n/fitequb-daily-verification-reset.json
{
  "name": "FitEqub Daily Verification Reset",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "name": "Cron - 9PM UTC (Midnight EAT)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "url": "https://api.fitequb.com/cron/daily-reset",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cron-secret",
              "value": "={{ $env.FITEQUB_CRON_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        },
        "method": "POST"
      },
      "name": "POST /cron/daily-reset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "content": "⚠️ FitEqub Daily Reset Failed\n\nError: {{ $json.error }}\nTime: {{ $now.format('yyyy-MM-dd HH:mm') }} UTC"
      },
      "name": "Log Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 200]
    },
    {
      "parameters": {
        "content": "✅ FitEqub Daily Reset Complete\n\nDate: {{ $json.data.date }}\nCompleted: {{ $json.data.completed_days }}\nMissed: {{ $json.data.missed_days }}\nStreaks Updated: {{ $json.data.streaks_updated }}"
      },
      "name": "Log Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 400]
    }
  ],
  "connections": {
    "Cron - 9PM UTC (Midnight EAT)": {
      "main": [
        [{ "node": "POST /cron/daily-reset", "type": "main", "index": 0 }]
      ]
    },
    "POST /cron/daily-reset": {
      "main": [
        [{ "node": "Has Error?", "type": "main", "index": 0 }]
      ]
    },
    "Has Error?": {
      "main": [
        [{ "node": "Log Error", "type": "main", "index": 0 }],
        [{ "node": "Log Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
